<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17109062365-jie5qeenfbld2hafe3v0iu914veob8gj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17109062365-jie5qeenfbld2hafe3v0iu914veob8gj</string>
	<key>API_KEY</key>
	<string>AIzaSyB2gkAQ1JqBNBmAD9OqAXYfI1uzvxfQicI</string>
	<key>GCM_SENDER_ID</key>
	<string>17109062365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wasteless</string>
	<key>PROJECT_ID</key>
	<string>wasteless-36ce0</string>
	<key>STORAGE_BUCKET</key>
	<string>wasteless-36ce0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17109062365:ios:5db9dc7c8eab73a16a0134</string>
</dict>
</plist>